<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col" class="text-end">Montant</th>
        <th scope="col" class="text-end">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses | sortByDates: dateOne:dateTwo">
        <td class="d-none">{{ expense._id }}</td>
        <td class="depense">{{ expense.description }}</td>
        <td class="text-end depense">{{ expense.montant | currency }}</td>
        <td class="text-end depense">{{ expense.date | date: "longDate":"undefined":"fr" }}</td>
        <td>
          <i
            class="fa fa-trash depense"
            aria-hidden="true"
            (click)="removeExpense(expense)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</section>
