<!--! J'AI MISE LE LOGO QUI EST PAS BLANC PARCE QUE POUR QUE JE PUISSE TESTER SI TOUT FONCTIONNAIS  -->
<!-- ENTÊTE -->
<header>
  <img
    src="../assets/img/abacus-logo_vertical.svg"
    alt="logo"
    class="logoMobile"
  /><br /><br />
  <p>Vous vous êtes déconnecté de manière sécuritaire.</p>
  <br /><br />
</header>
<!-- FIN DE L'ENTÊTE -->

<!-- CONTENU PRINCIPAL -->
<main>
  <!-- BOUTON DE CONNEXION -->
  <!-- * Ajouter les méthodes pour le retour au login -->
  <button type="button" routerLink="/">Se connecter</button>
</main>
<!-- FIN DU CONTENU PRINCIPAL -->

<!-- PIED-DE-PAGE -->
<footer>
  <!-- AFFICHER LE COMPOSANT FOOTER -->
  <app-footer></app-footer>
  <!-- FIN DU COMPOSANT FOOTER -->
</footer>
<!-- FIN PIED-DE-PAGE -->
