<body>
	<!-- ENTÊTE -->
	<header>
		<!-- TODO Insérer le logo d'abacus vertical blanc --><img src="https://via.placeholder.com/150" alt="Logo d'abacus, application de budget pour étudiants." title="Logo d'abacus, application de budget pour étudiants.">
		<p>Vous vous êtes déconnecté de manière sécuritaire.</p>
	</header>
	<!-- /ENTÊTE -->
	<main>
		<!-- BOUTON DE CONNEXION -->
		<button routerLink="/">Se connecter</button>
	</main>
	<!-- PIED-DE-PAGE -->
	<footer>
		<!-- Componant footer à venir -->
	</footer>
	<!-- /PIED-DE-PAGE -->