<ul>
  <li><a routerLink="/tableauDeBord">Tableau de bord</a></li>
  <li><a routerLink="/sommaire">Sommaire complet</a></li>
  <li><a routerLink="/depenses-ajout">+ Ajouter une dépense</a></li>
  <li><a routerLink="/depenses">Sommaire des dépenses</a></li>
  <li><a routerLink="/revenus-ajout">+ Ajouter un revenu</a></li>
  <li><a routerLink="/revenus">Sommaire revenus</a></li>
  <li><a routerLink="/calendrier">Calendrier</a></li>
  <li><a routerLink="/calculatrice">Calculatrice</a></li>
  <li><a routerLink="/deconnexion">Déconnexion</a></li>
</ul>