
<!DOCTYPE html>
<html lang="fr-CA">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Application de budget pour étudiants Abacus, offerte pour les étudiants du Cégep de Trois-Rivières.">
    <meta name="author" content="Élite du web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abac|us| - Tableau de bord</title>

</head>

<body>

    <!-- ! ici la balance  -->
    <!-- !  ici sera mis les deux boutons -->

    <button>AJOUT REVENU</button>
    <button>AJOUT DÉPENSE</button>


    <h1>Portrait global</h1>

    <!-- Portait des dépenses-->
    <section>

        <h2>Portrait des dépenses</h2>

        <!--TODO Importer le graphique PORTRAIT-DEPENSES-->

        <!--TODO route le bouton SOMMAIRE pour au composant SOMMAIRE-REVENUS -->
        <!-- * SOMMAIRE -->
        <a routerLink="#">Sommaire</a>

    </section>

    <!-- Portait des revenus-->
    <section>

        <h2>Portrait des revenus</h2>

        <!--TODO Importer le graphique PORTRAIT-REVENUS-->

        <!--TODO route le bouton SOMMAIRE pour au composant SOMMAIRE-DEPENSES -->
        <!-- * SOMMAIRE -->
        <a routerLink="#">Sommaire</a>

    </section>


    <!--TODO IMPORTER LE BOUTON SOMMAIRE COMPLET DES DÉPENSES ET REVENUS-->


</body>

</html>

