<app-match-media-query mediaQuery="(max-width: 992px)">
  <!--  balance  -->
  <app-balance></app-balance>
  <!-- NAVBAR en attendant  -->
  <app-header></app-header>
</app-match-media-query>

<body>
  <h1>Ajouter une dépense</h1>
  <app-match-media-query mediaQuery="(max-width: 992px)">
    <section>
      <h2>Dépense</h2>
      <!--graphique des dépenses-->
      <app-charts height="20" width="20" [dataList]="expenseList"></app-charts>
    </section>
  </app-match-media-query>

  <!-- FORMULAIRE AJOUT REVENU -->
  <form
    novalidate
    #fform="ngForm"
    [formGroup]="submitForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- categorie -->
    <div class="form-group">
      <label for="description">Catégorie</label>
      <div class="d-flex">
        <input
          formControlName="description"
          required
          type="text"
          class="form-control"
          id="description"
          placeholder="Inscrire une catégorie de dépense"
        />
      </div>
      <div
        *ngIf="
          submitForm.get('description')?.dirty &&
          submitForm.get('description')?.errors
        "
        class="alert alert-danger"
        role="alert"
      >
        Inscrire une catégorie de revenu
      </div>
    </div>

    <!-- montant -->
    <div class="form-group">
      <label for="montant">Montant</label>
      <div class="d-flex">
        <input
          type="number"
          min="1"
          step="1"
          formControlName="montant"
          required
          class="form-control"
          id="montant"
          placeholder="Montant"
        />

        <!-- bouton pour la calculatrice -->
        <button type="button" (click)="openCalculatorModal(content)">
          <i class="fa-solid fa-calculator"></i>
        </button>
      </div>
      <div
        *ngIf="
          submitForm.get('montant')?.dirty && submitForm.get('montant')?.errors
        "
        class="alert alert-danger"
        role="alert"
      >
        Ajouter un montant
      </div>
    </div>

    <!-- date -->
    <div class="form-group">
      <label for="date">Date</label>
      <div class="d-flex">
        <input
          formControlName="date"
          required
          type="date"
          class="form-control"
          id="date"
          placeholder="Date"
        />
      </div>
      <div
        *ngIf="submitForm.get('date')?.dirty && submitForm.get('date')?.errors"
        class="alert alert-danger"
        role="alert"
      >
        Ajouter une date
      </div>
    </div>
    <!-- button validation -->

    <button
      [disabled]="submitForm.invalid"
      type="submit"
      class="btn btn-outline-secondary"
    >
      +Ajouter
    </button>
  </form>

  <!-- Calc Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <app-calculatrice></app-calculatrice>
    </div>
  </ng-template>
</body>
