<div>
  <main class="row">
    <section class="col-12 col-md-6 d-flex align-items-center">
      <div class="col-md-8 offset-md-1">
        <h1>authentification</h1>
        <p>
          Se connecter
        </p>
        <!-- Formulaire d'accès -->
        <form >
          <form>
            <label>Nom utilisateur</label>
            <input
              matInput
              type="text" id="username" name="username" #username   required
            />
          </form>

          <form>
            <label>Email utilisateur</label>
            <input
              matInput type="text" id="email" name="email" #email  required  pattern=[exemple@serveur.domaine]
            />
          </form>
          <button  type="submit" (click)="valider(username.value, email.value)">
            Connecer
          </button>
        </form>
      </div>
    </section>
  </main>
</div>
