<app-match-media-query mediaQuery="(max-width: 992px)">
  <app-header></app-header>
</app-match-media-query>
<main class="container-fluid">

  <h1>Sommaire des revenus</h1>

  <button type="button" class="btn-periode-revenu input100" (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Choisir la période désirée <i class="fa-solid fa-caret-down"></i>
  </button>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div>
      <input type="date" placeholder="Du" #dateO />
      <input type="date" placeholder="Au" #dateT />
      <button class="m-1 btn-filtre" (click)="doFilter(dateO, dateT)">
        AFFICHER
      </button>
    </div>
  </div>

  <div class="container-fluid">
    <div ngbDropdown class="d-inline-block">
      <!--graphique des revenus-->
      <div class="card">
        <div *ngIf="incomeList">
          <app-income-chart width="auto" height="auto"></app-income-chart>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Tableau du sommaires des revenus -->
      <app-income-table></app-income-table>

      <!--RETOUR TABLEAU DE BORD -->
      <button class="btn-som-complet" routerLink="/tableauDeBord">
        RETOUR AU TABLEAU DE BORD
      </button>
    </div>
  </div>
  <!-- !ACCORDÉON TABLETTE ET ÉCRAN -->
  <!-- <app-match-media-query mediaQuery="(min-width: 992px)">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Sommaire des revenus">
        <ng-template ngbPanelContent>
          <button
            type="button"
            class="btn-periode-revenu input100"
            (click)="collapse.toggle()"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Choisir la période désirée <i class="fa-solid fa-caret-down"></i>
          </button>

          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div>
              <input type="date" placeholder="Du" #dateO />
              <input type="date" placeholder="Au" #dateT />
              <button
                class="m-1 btn btn-primary"
                (click)="doFilter(dateO, dateT)"
              >
                AFFICHER
              </button>
            </div>
          </div>

          <app-income-table></app-income-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </app-match-media-query> -->
  <!-- ! ACCORDÉON -->

</main>
<app-footer></app-footer>
