<div class="container">
  <!--  balance  -->
  <app-balance></app-balance>
  
    <a [routerLink]="['/revenus-ajout']">
      <button class="btn btn-success m-2">AJOUT REVENU</button>
    </a>
    <a [routerLink]="['/depenses-ajout']">
      <button class="btn btn-danger m-2">AJOUT DÉPENSE</button>
    </a>
  
    <h1>Sommaire des revenus</h1>
    <!--* SELECT POUR LA PÉRIODE DÉSIRÉE-->
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choisir la période désirée</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Janvier</button>
        <button ngbDropdownItem>Février</button>
        <button ngbDropdownItem>Mars</button>
        <button ngbDropdownItem>Avril</button>
        <button ngbDropdownItem>Mai</button>
        <button ngbDropdownItem>Juin</button>
        <button ngbDropdownItem>Juillet</button>
        <button ngbDropdownItem>Août</button>
        <button ngbDropdownItem>Septembre</button>
        <button ngbDropdownItem>Octobre</button>
        <button ngbDropdownItem>Novembre</button>
        <button ngbDropdownItem>Décembre</button>
      </div>
      <i class="fa-solid fa-calendar-days"></i>
    <section>
      <h2>Revenus</h2>
      <!--graphique des revenus-->
      <app-charts height="20" width="20" [dataList]="incomeList"></app-charts>
    </section>
  
    <!-- Tableau du sommaires des revenus -->
    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Catégorie</th>
            <th scope="col">Montant</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let income of incomeList">
            <td class="d-none">{{ income.id }}</td>
            <td>{{ income.description }}</td>
            <td>{{ income.montant | currency }}</td>
            <td>{{ income.date }}</td>
            <td><i class="fa fa-trash" aria-hidden="true" (click)="removeIncome(income)"></i></td>
          </tr>
  
        </tbody>
      </table>
    </section>
  
  
    <!--RETOUR TABLEAU DE BORD -->
    <button routerLink="/tableauDeBord">RETOUR AU TABLEAU DE BORD </button>