<div>
  <main class="row">
    <section class="col-12 col-md-6 d-flex align-items-center">
      <div class="col-md-8 offset-md-1">
        <!--! J'AI MISE LE LOGO QUI EST PAS BLANC PARCE QUE POUR QUE JE PUISSE TESTER SI TOUT FONCTIONNAIS  -->
        <img src="../assets/img/abacus-logo_vertical.svg" alt="logo" class="logoMobile" /><br /><br />
        <!-- Formulaire d'accès -->
        <form>
          <label>Adresse courriel</label>
          <input matInput type="text" id="email" name="email" #email required pattern="[exemple@serveur.domaine]" />
          <br />
          <label>Mot de passe</label>
          <input matInput type="password" id="password" name="password" #password required />
          <br />
          <input type="checkbox" name="remember" id="remember" />
          <label for="remember">Mémoriser le mot de passe</label>
          <br />
          <button type="submit" (click)="valider(password.value, email.value)">
            <span>Se Connecter</span>
          </button>
        </form>
        <a href="#">Vous n'avez pas de compte ?</a>
        <br />
        <a href="#">Mot de passe oublié ?</a>
      </div>
    </section>
  </main>
</div>