<app-header></app-header>
<main class="container">
  <app-match-media-query mediaQuery="(max-width: 992px)">
    <h1>Sommaire des dépenses</h1>
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Sommaire des dépenses">
        <ng-template ngbPanelContent>
          <button type="button" class="btn btn-outline-success" (click)="collapse.toggle()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Choisir la période désirée
          </button>

          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div>
              <input type="date" placeholder="Du" #dateO />
              <input type="date" placeholder="Au" #dateT />
              <button class="m-1 btn btn-primary" (click)="doFilter(dateO, dateT)">
                Filter
              </button>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let expense of expenseList | sortByDates: dateOne:dateTwo
                ">
                <td class="d-none">{{ expense._id }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.montant | currency }}</td>
                <td>{{ expense.date }}</td>
                <td>
                  <i class="fa fa-trash" aria-hidden="true" (click)="removeExpense(expense)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </app-match-media-query>

  <app-match-media-query mediaQuery="(max-width: 992px)">
    <p>
      <button type="button" class="btn-periode-depense" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        Choisir la période désirée
      </button>
    </p>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div>
        <input type="date" placeholder="Du" #dateO />
        <input type="date" placeholder="Au" #dateT />
        <button class="m-1 btn-filtre-depense" (click)="doFilter(dateO, dateT)">
          Filtrer
        </button>
      </div>
    </div>
  </app-match-media-query>
  <div ngbDropdown class="d-inline-block">
    <app-match-media-query mediaQuery="(max-width: 992px)">
      <i class="fa-solid fa-calendar-days"></i> -->

      <h2>Dépenses</h2>
      <!--graphique des revenus-->
      <app-charts height="20" width="20" [dataDepense]="expenseList"></app-charts>

      <!-- Tableau du sommaires des dépenses -->
      <h2>Dépenses</h2>

      <!--graphique des revenus-->
      <app-charts height="20" width="20" [dataList]="expenseList"></app-charts>
    </app-match-media-query>

    <!-- Tableau du sommaires des dépenses -->
    <app-match-media-query mediaQuery="(max-width: 992px)">
      <section>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Catégorie</th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of expenseList">
              <td class="d-none">{{ expense._id }}</td>
              <td>{{ expense.description }}</td>
              <td>{{ expense.montant | currency }}</td>
              <td>{{ expense.date | date:'longDate':'undefined':'fr' }}</td>
              <td><i class="fa fa-trash" aria-hidden="true" (click)="removeExpense(expense)"></i></td>
            </tr>
          </tbody>
        </table>
      </section>
      <app-match-media-query mediaQuery="(max-width: 992px)">
        <!--RETOUR TABLEAU DE BORD -->
        <button class="btn-som-complet" routerLink="/tableauDeBord">
          RETOUR AU TABLEAU DE BORD
        </button>
      </app-match-media-query>
    </app-match-media-query>
  </div>
</main>
<app-footer></app-footer>