<app-match-media-query mediaQuery="(max-width: 992px)">
  <app-header></app-header>
</app-match-media-query>
<main class="container-fluid">
<app-match-media-query mediaQuery="(max-width: 992px)">
  <h1>Sommaire des dépenses</h1>
     
<!-- VERSION MOBILE -->

<button type="button" class="btn-periode-depense mb-2 input100" (click)="collapse.toggle()"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
Choisir la période désirée <i class="fa-solid fa-caret-down"></i>
</button>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
<div>
  <input type="date" placeholder="Du" #dateO />
  <input type="date" placeholder="Au" #dateT />
  <button class="m-1 btn-filtre-depense" (click)="doFilter(dateO, dateT)">
    AFFICHER
  </button>
</div>
</div>
</app-match-media-query>
<!--graphique des dépenses non fonctionnel-->
<!-- <div class="card">
  <div *ngIf="expensesList">
    <app-expense-chart width="auto" height="auto"></app-expense-chart>
  </div>
</div> -->


<!-- /graphique -->

<!-- ! affiche le range en mobile-->
<app-expense-table [dateOne]="dateOne" [dateTwo]="dateTwo"></app-expense-table>
<!-- ! -->

<!-- <div ngbDropdown class="d-inline-block">

</div> -->
<!-- ACCORDÉON TABLETTE ET ÉCRAN -->
<app-match-media-query mediaQuery="(min-width: 993px)">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Sommaire des dépenses">
      <ng-template ngbPanelContent>
        <button type="button" class="btn-periode-depense mb-2 input100" (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Choisir la période désirée <i class="fa-solid fa-caret-down"></i>
        </button>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div>
            <input type="date" placeholder="Du" #dateO />
            <input type="date" placeholder="Au" #dateT />
            <button class="m-1 btn-filtre-depense" (click)="doFilter(dateO, dateT)">
              AFFICHER
            </button>
          </div>
        </div>
<!-- ! affiche le range en tablette et écran -->
        <app-expense-table [dateOne]="dateOne" [dateTwo]="dateTwo"></app-expense-table>
<!-- ! -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</app-match-media-query>
</main>
<app-match-media-query mediaQuery="(max-width: 992px)">
  <app-footer></app-footer>
</app-match-media-query>
