<!-- ! ici la balance  -->
<h1 class=" container pt-1">BALANCE {{ balance | currency }}</h1>

<!-- ? J'ai ajouté la navbar ici, car je ne savais pas trop ou elle allait aller -->
<app-navbar></app-navbar>

<!-- !  ici sera mis les deux boutons -->
<button routerLink="/revenus-ajout">AJOUT REVENU</button>
<button routerLink="/depenses-ajout">AJOUT DÉPENSE</button>


<h1>Portrait global</h1>

<!-- Portait des dépenses-->
<section>

    <h2>Portrait des dépenses</h2>

    <!--TODO Importer le graphique PORTRAIT-DEPENSES-->
    <app-charts height="20" width="20" [dataList]="expenseList"></app-charts>

    <!--TODO route le bouton SOMMAIRE pour au composant SOMMAIRE-REVENUS -->
    <!-- * SOMMAIRE -->
    <a routerLink="/depenses">Sommaire</a>

</section>

<!-- Portait des revenus-->
<section>

    <h2>Portrait des revenus</h2>

    <!--TODO Importer le graphique PORTRAIT-REVENUS-->
    <app-charts height="20" width="20" [dataList]="incomeList"></app-charts>

    <!--TODO route le bouton SOMMAIRE pour au composant SOMMAIRE-DEPENSES -->
    <!-- * SOMMAIRE -->
    <a routerLink="/revenus">Sommaire</a>

</section>


<!--TODO IMPORTER LE BOUTON SOMMAIRE COMPLET DES DÉPENSES ET REVENUS-->